﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="~/css/site.css">
    <title>CS 460 Homework 4</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <h1>CS 460 Homework 4</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li>@Html.ActionLink("Page 1", "Page1")</li>
                <li>@Html.ActionLink("Page 2", "Page2")</li>
                <li>@Html.ActionLink("Page 3", "Page3")</li>
                <li><a href="https://mcalawa.github.io/senior_project/">Portfolio Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        @RenderBody()
    </div>

    <!-- JavaScript: placed at the end of the document so the pages load faster -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script>
        function dayOfMonth(numOfDays) {
            "use strict";

            var sel = $('<select id="days" name="day">'); //what we're connecting the options to
            var opt = null;
            for (var i = 1; i <= numOfDays; i++) {
                opt = $('<option value="' + i + '">').html(i);
                opt.appendTo(sel);
            }

            return sel;
        }

        $("#year").change(function () {
            var today = new Date();
            var currentYear = today.getFullYear();

            $("#errorMessage").empty();

            if ($(this).val().length <= 0) {
                $("#restOfDate").css("visibility", "hidden");
                $("#submitForm").attr("disabled", "disabled");
            }
            else if (isValidDate())
            {
                if ($("#month").val() == 2) {
                    var whichYear = $("#year").val();

                    $("#daysContainer").empty();

                    if (whichYear % 4 === 0) {
                        $("#daysContainer").append("Day: ");
                        $("#daysContainer").append(dayOfMonth(29));
                    }
                    else {
                        $("#daysContainer").append("Day: ");
                        $("#daysContainer").append(dayOfMonth(28));
                    }
                }

                $("#restOfDate").css("visibility", "visible");
                if ($("#submitForm").is(":disabled") && $("#firstname").val().length > 0) {
                    $("#submitForm").removeAttr("disabled");
                }
            }
            else {
                $("#errorMessage").append("Hey, you can't have a birthday if you haven't been born yet!");
                $("#restOfDate").css("visibility", "hidden");
                $("#submitForm").attr("disabled", "disabled");
            }
        })

        $("#firstname").change(function () {
            if ($(this).val().length <= 0) {
                $("#submitForm").attr("disabled", "disabled");
            }
            else {
                if ($("#submitForm").is(":disabled") && $("#year").val().length > 0) {
                    $("#submitForm").removeAttr("disabled");
                }
            }
        })

        $("#month").change(function () {
            var whichMonth = $("#month").val();
            var whichYear = $("#year").val();
            var today = new Date();
            var currentYear = today.getFullYear;

            $("#daysContainer").empty();
            $("#errorMessage").empty();

            if (whichMonth == 1 || whichMonth == 3 || whichMonth == 5 || whichMonth == 7 || whichMonth == 8 || whichMonth == 9 || whichMonth == 10 || whichMonth == 12) {
                $("#daysContainer").append("Day: ");
                $("#daysContainer").append(dayOfMonth(31));
            }
            else if (whichMonth == 4 || whichMonth == 6 || whichMonth == 11) {
                $("#daysContainer").append("Day: ");
                $("#daysContainer").append(dayOfMonth(30));
            }
            else if (whichYear % 4 === 0) {
                $("#daysContainer").append("Day: ");
                $("#daysContainer").append(dayOfMonth(29));
            }
            else {
                $("#daysContainer").append("Day: ");
                $("#daysContainer").append(dayOfMonth(28));
            }

            if (isValidDate()) {
                if ($("#submitForm").is(":disabled") && $("#firstname").val().length > 0) {
                    $("#submitForm").removeAttr("disabled");
                }
            }
            else {
                $("#errorMessage").append("Hey, you can't have a birthday if you haven't been born yet!");
                $("#submitForm").attr("disabled", "disabled");
            }
        })

        $("#daysContainer").on("change", "#days", function () {
            $("#errorMessage").empty();

            if (isValidDate())
            {
                if ($("#submitForm").is(":disabled") && $("#firstname").val().length > 0) {
                    $("#submitForm").removeAttr("disabled");
                }
            }
            else
            {
                $("#errorMessage").append("Hey, you can't have a birthday if you haven't been born yet!");
                $("#submitForm").attr("disabled", "disabled");
            }
        })

        function isValidDate() {
            var whichMonth = $("#month").val();
            var whichYear = $("#year").val();
            var whichDay = $("#days").val();
            var today = new Date();

            if (whichYear > today.getFullYear())
            {
                return false;
            }
            else if (whichYear == today.getFullYear())
            {
                if (whichMonth > (today.getMonth() + 1))
                {
                    return false;
                }
                else if (whichMonth == (today.getMonth() + 1))
                {
                    if (whichDay > today.getDate())
                    {
                        return false;
                    }
                }
            }

            return true;
        }

        $("#principle").change(function () {
            $("#errorMessage").empty();

            if ($(this).val().length <= 0) {
                $("#submitButton").attr("disabled", "disabled");
                $("#errorMessage").append("Please enter your principle.");
            }
            else if ($(this).val() < 0)
            {
                $("#errorMessage").append("A principle cannot be below $0.00.");
                $("#submitButton").attr("disabled", "disabled");
            }
            else if (isValidInput()) {
                if ($("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else {
                $("#submitButton").attr("disabled", "disabled");
            }
        })

        $("#rate").change(function () {
            $("#errorMessage").empty();

            if ($(this).val().length <= 0) {
                $("#submitButton").attr("disabled", "disabled");
                $("#errorMessage").append("Please enter your interest rate.");
            }
            else if ($(this).val() < 0) {
                $("#errorMessage").append("An interest rate cannot be less than 0.");
                $("#submitButton").attr("disabled", "disabled");
            }
            else if (isValidInput()) {
                if ($("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else {
                $("#submitButton").attr("disabled", "disabled");
            }
        })

        $("#years").change(function () {
            $("#errorMessage").empty();

            if ($(this).val().length <= 0) {
                $("#submitButton").attr("disabled", "disabled");
                $("#errorMessage").append("Please enter how many of years of interest you would like to calculate.");
            }
            else if ($(this).val() < 1) {
                $("#errorMessage").append("Interest cannot be calculated for period of less than a year.");
                $("#submitButton").attr("disabled", "disabled");
            }
            else if (Math.floor($(this).val()) = $(this).val())
            {
                $("#errorMessage").append("Interest cannot be calculated for partial years.");
                $("#submitButton").attr("disabled", "disabled");
            }
            else if (isValidInput()) {
                if ($("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else {
                $("#submitButton").attr("disabled", "disabled");
            }
        })

        function isValidInput() {
            var p = $("#principle").val();
            var iRate = $("#rate").val();
            var years = $("#years").val();

            if (p.length <= 0)
            {
                $("#errorMessage").append("Please enter your principle.");
                return false;
            }
            else if (iRate.length <= 0)
            {
                $("#errorMessage").append("Please enter your interest rate.");
                return false;
            }
            else if (years.length <= 0)
            {
                $("#errorMessage").append("Please enter how many of years of interest you would like to calculate.");
                return false;
            }
            else if(p < 0) 
            {
                $("#errorMessage").append("A principle cannot be below $0.00.");
                return false;
            }
            else if (iRate < 0)
            {
                $("#errorMessage").append("An interest rate cannot be less than 0%.");
                return false;
            }
            else if (years < 1)
            {
                $("#errorMessage").append("Interest cannot be calculated for period of less than a year.");
                return false;
            }
            else if (Math.floor(years) != years) {
                $("#errorMessage").append("Interest cannot be calculated for partial years.");
                return false;
            }

            return true;
        }
    </script>
</body>
</html>
